@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

$primary-red-lt: hsl(7, 99%, 70%);
$primary-yellow: hsl(51, 100%, 49%);
$primary-cyan-dk-desat: hsl(167, 40%, 24%);
$primary-cyan-dk-mod: hsl(168, 34%, 41%);
$primary-blue-dk: hsl(198, 62%, 26%);

$neutral-blue-dkr-desat: hsl(212, 27%, 19%);
$neutral-blue-gray-dkr: hsl(213, 9%, 39%);
$neutral-blue-gray-dk: hsl(232, 10%, 55%);
$neutral-blue-gray: hsl(210, 4%, 67%);
$neutral-white: hsl(0, 0%, 100%);

$font-family-barlow: "Barlow", sans-serif;
$font-family-fruances: "Fraunces", serif;

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.row {
  width: 100%;
}

@mixin transition {
  transition: all 0.25s ease-in-out;
}

@keyframes bob {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(15%);
  }
}

@mixin media-xl {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin media-l {
  @media only screen and (max-width: 900px) {
    @content;
  }
}

@mixin media-m {
  @media only screen and (max-width: 780px) {
    @content;
  }
}
